<!--<h2>Mode: --><?php //echo $block->getMode(); ?><!--</h2>-->

<?php
$order = $this->getOrder();
?>

<?php if ($this->getRequest()->isPost()) : ?>
    <!--    <p>--><?php //echo $order->getId(); ?><!--</p>-->
    <?php echo $block->shipToFedex(); ?>
    <!--    <br/><br/>-->
    <!--    <h3>Request (when only would be one package):</h3>-->
    <!--    <pre>--><?php //print_r($this->buildRequestOnePackage()) ?><!--</pre>-->
    <!--    <br/><br/>-->
    <!--    <h3>Request XML (last):</h3>-->
    <!--    <pre style="word-wrap: break-word; white-space: pre-wrap;">--><?php //print_r(htmlentities($this->getRequestXml())) ?><!--</pre>-->
    <!--    <br/><br/>-->
    <!--    <h3>Response XML (last):</h3>-->
    <!--    <pre style="word-wrap: break-word; white-space: pre-wrap;">--><?php //print_r(htmlentities($this->getResponseXml())) ?><!--</pre>-->
<?php else : ?>
    <?php
    $order = $this->getOrder();
    $params = array('order_id' => $order->getId());
    $url = $this->backendUrl->getUrl("fedex/index/index", $params);
    $packageCountDefault = 1;
    ?>



    <div class="fed-shipment">
        <div class="fed-col-left">
            <h3><?= __("Shipment order form"); ?></h3>
            <form action="<?php echo $url; ?>" method="POST" id="fedex-form">
                <input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */
                echo $this->getFormKey() ?>"/>
                <input name="order_id" type="hidden" value="<?php echo $order->getId(); ?>"/>
                <label for="packageCount"><?= __("Package Count:"); ?></label>
                <input id="packageCount" type="number" name="package_count" value="<?php echo $packageCountDefault; ?>"
                       class="required-entry validate-number-range number-range-1-99">
                <input type="submit" value="<?= __("Send To Fedex"); ?>">
            </form>
        </div>
        <div class="fed-col-right">
            <h3>Create FedEx shipment with following products</h3>
            <?php echo $block->getProductsTable(); ?></div>
    </div>
<?php endif ?>

<br/><br/>
<a href="<?php echo $block->getCustomUrl(); ?>"><?= __("< ... back to order view"); ?></a>
