#fedex-table {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(74, 74, 74);
  margin: 5px 0px 25px 0px;

  .td-img {
    text-align: center;

  }

  .td-total {
    text-align: right;
    padding-right: 15px;
  }

  .tr-total {
    font-size: large;
  }

  thead {
    background-color: rgb(232, 232, 232);

  }

  tbody {
    background-color: rgb(241, 241, 241);
  }

  tr th {
    padding: 5px;
  }

  tr td {
    padding: 5px;
  }

  .td-text {
    text-align: justify;

  }

  th {
    border: 1px solid rgb(187, 187, 187);
  }

  td {
    border: 1px solid rgb(187, 187, 187);
  }
}


#fedex-form {
  margin: 8px 0px 5px 0px;
}

.fed-shipment {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;

  .fed-col-left {
    float: left;
    width: 50%;
    display: inline-block;
  }

  .fed-col-right {
    float: right;
    width: 50%;
    display: inline-block;
  }
}
